---
- name: Install vzborg wrapper script
  copy:
    src: vzborg-tagged-vms.sh
    dest: /usr/local/bin/vzborg-tagged-vms.sh
    mode: '0755'
- name: Install VzBorg systemd unit file
  template:
    src: "{{ item }}"
    dest: /etc/systemd/system/vzborg.service
    mode: '0644'
  with_first_found:
    - "vzborg-{{ ansible_distribution }}-\
      {{ ansible_distribution_major_version }}.service.j2"
    - "vzborg-{{ ansible_os_family }}-\
      {{ ansible_distribution_major_version }}.service.j2"
    - "vzborg.service.j2"
- name: Install vzborg systemd timer file
  template:
    src: vzborg.timer.j2
    dest: /etc/systemd/system/vzborg.timer
    mode: '0644'
- name: Make sure VzBorg timer is running
  systemd:
    name: vzborg.timer
    daemon_reload: true
    state: started
    enabled: true
